<html>
    <body>
        <form action="{% url 'editsub' i.id %}" method="post">
            {% csrf_token %}
            <label for="stid">student-id:</label><br>
            <select name="stid" id="stid">
                {% for s in students %}
                    <option value="{{s.id}}">
                        {{s.firstname}} {{s.lastname}} {{s.email}}
                    </option>
                {% endfor %}
            </select><br>
            <label for="subname">subject name:</label><br>
            <input type="text" id="subname" name="subname" value="{{i.subject_name}}"><br>
            <label for="chapcount">chapter count:</label><br>
            <input type="text" id="chapcount" name="chapcount" value="{{i.chapter_count}}"><br>
            <label for="desc">description:</label><br>
            <input type="text" id="desc" name="desc" value="{{i.desc}}"><br>
            <input type="submit" value="Submit">
        </form> 
    </body>
</html>