

{% extends "base.html" %}
{% load static %}
{% block body %}
<a href="{% url 'add_1' %}" class="b1">Add</a>
<table style="width:100%">
    <thead>
        
        <tr class="bg-primary text-black text-center">
            <th>firstname</th>
            <th>lastname</th>
            <th>age</th>
            <th>email</th>
            <th>phone</th>
            <th>city</th>
            <th>image</th>
            <th>Action</th>
        </tr>
    
    </thead>
    <tbody>
        {% for a in x %}
        <tr style="text-align: center;">
            <td>{{a.firstname}}</td>
            <td>{{a.lastname}}</td>
            <td>{{a.age}}</td>
            <td>{{a.email}}</td>
            <td>{{a.phone}}</td>
            <td>{{a.city}}</td>
             <td><img src="{{a.image.url}}" class="round" style="height:50px; width:50px;"></td>
            <td>
                <a href="edit-student/{{a.id}}" >Edit</a>
                <a href="delete-student/{{a.id}}" >Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <br>
</table>
{% endblock  %}